<div class="w-full bg-slate-900 ">
    <div class="flex w-full p-3 justify-between max-w-7xl mx-auto px-6">
        <div class="flex items-center gap-3 ">
            <div class="w-8 h-8 bg-indigo-500 rounded-lg flex items-center justify-center text-white text-sm font-medium">E
            </div>
            <span class="text-white text-sm font-medium tracking-wide">EMS Portal</span>
        </div>
        <nav class="flex items-center">
            <% if(locals.user?.role && locals.user?.role === "admin") { %>
                <a href="/dashboard">Dashboard</a>
            <% } else if(locals.user?.role && locals.user.role === "user") { %>
                <a href="/directory">Directory</a>
            <% } %>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</div>