<% if(locals.flash && locals.flash.type === 'error') { %>
    <div class="error-box"><%= locals.flash.message %></div>
<% } %>
<% if(locals.flash && locals.flash.type === 'success') { %>
    <div class="message-box"><%= locals.flash.message %></div>
<% } %>