<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include('./partials/navBarLoggedIn.ejs') %>
    <h1><%= role %> Dashboard</h1> 
    Welcome to your dashboard
    <a href="/addEmployee">Add Employee</a>
    <% if (employees.length === 0) { %>
        No employees found
    <% } else { %>
        <%- include('./partials/employeeList', { employees: employees}) %>
    <% } %>
</body>
</html>