<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Directory</title>
</head>
<body>
    <%- include('./partials/navBarLoggedIn.ejs') %>
    <h1>Employee Directory</h1>
    <% if (employees.length === 0) { %>
        No employees found
    <% } else { %>
        <%- include('./partials/employeeList', { employees: employees}) %>
    <% } %>
</body>
</html>