<%- include('./partials/head', { pageTitle: 'Dashboard' }) %>

<%- include('./partials/header') %>
<div class="content">
    <%- include('./partials/statusMessage') %>
    <div class="flex w-100 items-center justify-between">
        <h1>Directory</h1> 
    </div>
    <% if (employees.length === 0) { %>
        No employees found
    <% } else { %>
        <%- include('./partials/employeeList', { employees: employees }) %>
    <% } %>
</div>